.movieinfo {
	width: 500px;
	min-height: 400px;
	color: #000;

	img {
		width: 100%;
		height: 300px;
		object-fit: cover;
		border-radius: 5px;
	}
	&__descr-item {
		display: grid;
		grid-template-columns: 50%50%;
		background-color: #000;
		width: 180px;
		height: 30px;
		color: aliceblue;
		margin-top: 5px;
		display: flex;
		align-items: center;
		gap: 5px;

		img {
			margin-left: 10px;
			width: 18px;
			height: 20px;
		}

		.dot {
			width: 5px;
			height: 5px;
			border-radius: 100%;
			background: red;
		}
	}
}
